<!-- title excerpt -->
<div class="excerpt excerpt-detail">
	<div class="excerpt-header">
		<h3 class="excerpt-title"><a href="{{ excerpt.url }}">{{ excerpt.name }}</a></h3>
		<div class="excerpt-meta">
			<span class="excerpt-by"><i class="icon-user"></i>  <a href="{{ excerpt.author.url }}">{{ excerpt.author.name }}</a>
				on {{ excerpt.time }}
			</span>
		</div>
	</div>
	<div class="excerpt-content">{{! excerpt.excerpt }}</div>
	<div class="excerpt-more">
		<!--<i class="icon-share-alt"></i> <a href="$excerpt.url"> $excerpt.name</a>-->
	</div>
</div>
<hr/>
