<!DOCTYPE html>
<html lang='zh'>
	% include layout/header.html config=config, title=params.search.title
<body>
    % include layout/navbar.html config=config
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="span9">
					% include modules/search.html search=params.search, entries=params.entries
					% include modules/pager.html pager=params.pager, config=config
				</div>
				<!--
				<div class="span3">
				</div>
				-->
				<div class="span3">
					% include layout/three/secondary.html params=params.secondary, config=config
					% include layout/three/primary.html params=params.primary, config=config
				</div>
			</div>
		</div>
	</div>
	% include layout/footer.html config=config
</body>
</html>
