<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<link rel="stylesheet" href="/static/editormd/css/editormd.min.css" />
	
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/editormd/editormd.min.js"></script>
	<script src="/static/js/publish-dialog.js"></script>
	<script type="text/javascript">
	    $(function() {
	    	var loadicon = true;
	    	var raw_url = '{{ raw_url }}';
			$.get(raw_url, function(md){
		        var editor = editormd("editormd", {
	                width: "90%",
	                height: 700,
	                markdown : md,
	                emoji : true,	//www.emoji-cheat-sheet.com
	                taskList : true,
	                tocm : true,         // Using [TOCM]
	                tex : true,                   // 开启科学公式TeX语言支持，默认关闭		http://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css
	
	                flowChart : true,             // 开启流程图支持，默认关闭
	                sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
	                
		            path : "/static/editormd/lib/", // Autoload modules mode, codemirror, marked... dependents libs path
		            
	                onchange : function() {
	                	window.localStorage.setItem("youmd_content_update",this.getValue());
	                },
	                toolbarIcons : function() {
	                	if (loadicon){
	                		window.editormd.toolbarModes.full.push("||", "update");
	                		loadicon = false;
	                		}
	                	return window.editormd.toolbarModes.full;
	                },
			        toolbarIconTexts : {
			            update : "保存"
			        },
			        lang : {
			            toolbar : {
			                update : "更新到博客服务端存储",
			            }
			        },
			        toolbarHandlers : {
			        	update : function(cm, icon, cursor, selection) {
							var password = window.prompt('管理密码','');
							$.ajax( {  
							    url: '/update_save',
							    data:{
							    	raw_url: raw_url,
							    	password: password,
							    	content: cm.getValue()
							    },  
							    type: 'post',  
							    success: function(data) {  
							        if(data.code ==0 ){  
							            alert("成功！");  
							        }else{  
							            alert(data.msg);  
							        }  
							     },  
							     error : function() {  
							          alert("服务器异常！请稍后重试");  
							     }
							});
			        	}
			        }
	
		        });
			});
	    });
	</script>
	
</head>
<body>
	<div id="editormd">
	</div>
</body>
</html>