<!-- config -->
<div id="footer">
	<div class="modal-footer">
		<ul class="unstyled">
		<li>
			Blog of <a href="/">{{ _("webauthor") }}</a>.
			Follow me on <a href="https://github.com/JoneXiong" target="_blank">Github</a>
		</li>
		<li>
			UI Designed by <a href="http://twitter.github.com/bootstrap" target="_blank">Twitter
				Bootstrap</a>.
			Powered by <a href="https://github.com/JoneXiong/Mole" target="_blank">Mole</a>.
			Inspare by  Editor.md and Dylanninin/blog
		</li>
		<li>
			Copyright &copy <a href="/">{{ _("webname") }}</a> |
			<a href="{{ config.about_url }}">{{ _("index_about") }}</a>
		</li>
		</ul>
	</div>
	%include misc/analytics.html config=config
	<script src="{{ config.static_url }}/js/jquery.js"></script>
    <script src="{{ config.static_url }}/js/bootstrap.js"></script>
</div>
