<!-- title config -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="技术分享,原创博文,开发积累,Web后台技术,Python开发,Odoo相关,Django开发"/>
    <meta name="description" content="Oejia是一个开发技术博文分享站点，在这里你可以了解到一些Web后台开发技术的积累以及Python开发、Django开发、Odoo开发和实施相关的原创讲解" />
    <link href="{{ config.static_url }}/css/styles.css" rel="stylesheet"/>
    <title>{{ title }} - 欧易佳技术梦 Oejia</title>
</head>
